:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --grey500: hsl(234, 12%, 34%);
  --grey400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attribution { 
  font-size: 0.6875rem; 
  margin-top: 2rem;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

header {
  text-align: center;
  color: var(--grey500);
  max-width: 30rem;

  h1 {
    font-weight: 200;
    font-size: 1.5rem;

    span {
      font-weight: 600;
    }
  }

  p {
    padding: 1rem .5rem 3rem .5rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  article {
    padding: 3rem;
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;

    h2 {
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
    p {
      margin-bottom: 2rem;
    } 
    img {
      float: right;
    }
  }
}

.red {
  border-top: 0.5rem solid var(--red);
}
.cyan {
  border-top: 0.5rem solid var(--cyan);
}
.orange {
  border-top: 0.5rem solid var(--orange);
}
.blue {
  border-top: 0.5rem solid var(--blue);
}

@media screen and (min-width:1440px) {
  header {
    max-width: 38rem;
    h1 {
      font-size: 3rem;
    }
  }

  main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-width: 90rem;

    .cyan {
        grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
        grid-column-start: 1;
        grid-row-start: 2;
    }
    
    .red {
        grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
        grid-column-start: 3;
        grid-row-start: 1;
    }
    
    .orange {
        grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
        grid-column-start: 3;
        grid-row-start: 3;
    }
    
    .blue {
        grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
        grid-column-start: 5;
        grid-row-start: 2;
    }
  }
}